body{
    background-image: url(../images/2658959.jpg);
    background-size: contain;
}
header{
    margin: 15px 90px;
}
.container1{
    border-radius: 2%;
    background-color: transparent;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 3;
    border: 0.1px solid #323f42;
    box-shadow: 3px 3px 3px #a4b7b5;
}
nav{
    column-count: 2;
}
ul{
    list-style-type: none;
}
li{
    font-size: 0.8rem;
}
a{
    color: ivory;
}
.container1>img{
    width: 200px;
}
h1{
    font-size: 8rem;
    text-shadow: darkgray;
    padding: 5px;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
}

section{
    border-radius: 5%;
    background-color: #436897;
    opacity: 0.9;
    margin: 20px 90px;
    display: flex;
    align-items: center;

}
section>img{
    padding: 5% 5%;
    width: 150px;
}
.container2{
    padding-right: 10%;
}
.container2>img{
    width: 150px;
}
footer{
    margin: 5px 0px;
    text-align: center;
}