body{
    background-color: slategrey;
}
header{
    margin: 15px 50px;
}
.container1{
    background-color: darkslategrey;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 3;
    box-shadow: 0.3px 0.3px wheat;
}
nav{
    column-count: 2;
}
ul{
    list-style-type: none;
}
li{
    font-size: 0.8rem;
}
a{
    color: ivory;
}
.container1>img{
    width: 200px;
}
h1{
    font-size: 8rem;
    text-shadow: darkgray;
    padding: 5px;
    font-family: 'Arial Narrow Bold', sans-serif;
}
p{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.container2{
    display: flex;
    padding: 25px 25px;
}
section{
    background-color: darkslategray;
    padding: 15px;
    margin: 15px 50px;
}
section>img{
    width: 150px;
}
.container2>img{
    width: 150px;
}
footer{
    margin: 5px 0px;
    text-align: center;
}